* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-transform: capitalize;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Josefin Sans', sans-serif;
}
:root{
    --main-color:#ffd634;
    --secondary-color:#171717;
    --thirdly-color: rgba(230, 230, 230, 0.685);
    --white-color:#ffffff;
    --hover-color:#ffe47a;
    --btn-color:#ffd634;
}
@import "./breaking.scss" ;
//container 
.container {
    display: flex;
    width: 100%;
    min-height: 100vh;
    max-height: auto;
    // nav bar 
    .close {
        width: 70px;
        ul li:hover a {
            i::after{
                width: 100%;
                transition: 0.4s;
            }
        }
        ul li a span {
            display: none;
        }
    }
    nav {
        z-index: 1000;
        transition: 0.8s;
        width: 250px;
        height:100vh;
        position: fixed;
        background-color:var(--white-color);
        box-shadow: 2px 0px 30px 0px rgb(0 0 0 / 20%);
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        button {
            cursor: pointer;
            margin: 20px 0px 20px 20px;
            background-color: transparent;
            border: none;
            .fa-bars-staggered{
                color: var(--main-color);
            }
        }
        > ul {
            margin: 0;
            padding: 15px;
            li{
                border-radius: 10px;
                width: 100%;
                height: 30px;
                cursor: pointer;
                list-style: none;
                margin-bottom: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                .active  {
                    color: var(--main-color);
                }
                a {
                    color:black;
                    margin: 0 auto;
                    text-decoration: none ;
                    width: 100%;
                    i {
                        position: relative;
                        padding: 10px;
                        margin-right: 20px;
                        
                    }
                    i::after {
                        content: "";
                        position: absolute;
                        width: 2px;
                        height: 30px;
                        background-color: var(--main-color);
                        top: 4px;
                        transition: 0.8s;
                        left: 0px;
                }
                }
                
            }
            li:hover {  
                a{
                    transition: 0.8s;
                    color: var(--white-color);
                i::after{
                    width: 180px;
                    z-index: -2;
                    transition: 0.8s;
                }
                }
            }
        }
        .social-media{
            position: absolute;
            bottom:0;
            width: 100%;
            ul {
                margin: 0;
                padding: 15px;
                display: flex;
                justify-content: center; 
                align-items: center;
                flex-wrap: wrap;
                li{
                    margin-left: 10px;
                    margin-bottom: 20px;
                    list-style: none;
                    a{
                        color: var(--secondary-color);
                        text-decoration: none;
                    }
                    :hover {
                        .fa-linkedin {
                            color: RGB(10, 102, 194);
                            transition: 0.5s;
                        }
                        .fa-square-github {
                            color: rgb(123,37,139);
                            transition: 0.5s;
                        }
                        .fa-square-instagram {
                            color:rgb(195,37,100);
                            transition: 0.5s;
                        }
                        .fa-square-youtube {
                            color:rgb(255, 0, 0);
                            transition: 0.5s;
                        }
                    }
                }
            }
        }
        }
        
        }
//main container 
    .container {
        .main-container {
        background: rgb(195,44,34);
        background: linear-gradient(199deg, rgba(195,44,34,1) 0%, rgba(253,187,45,1) 100%);
        padding-left:70px;
        width: 100%;
        header {
            background-color: var(--white-color);
            @include media('<=small'){
                flex-direction: column;
            }   
            width: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            border-bottom: 2px solid var(--main-color);
            h1 {
                margin-bottom: 0;
                margin-top: 6px;
                span {
                color: var(--main-color);
            }
            }
            .notification {
                margin-top: 5px;
                position: relative;
                img {
                    width: 40px ;
                    height: 40px;
                    border-radius: 50%;
                    object-fit: cover;
                    cursor: pointer;
                }
                i {
                    top:-25px;
                    left: -5px;
                    cursor: pointer;
                    color: var(--main-color);
                    position: relative;
                    text-align: center; 
                    span {
                        position: absolute;
                        top: -2px;
                        left: 14px;
                        font-size: 10px;
                    }
                }
            }
            .search-container form {
                position: relative;
                margin-bottom: 5px;
                input {
                    @include media('<=tablet'){
                        width: 250px;
                    }
                    width: 400px;
                    height: 35px;
                    border-radius: 40px;
                    padding-left: 30px;
                }
                i {
                    position: absolute;
                    top: 9px;
                    left: 10px;
                    cursor: pointer;
                    color: var(--main-color);
                }
            }
        }
        .fav-meals {
            border: 2px solid var(--main-color);
            border-radius: 30px;
            min-width: 270px;
            width: 50%;
            height: 170px;
            margin: 20px 0px 20px 20px;
            h3 {
                margin: 0;
                width: fit-content;
                padding: 15px 0 5px 0px;
                margin-left: 20px;
                border-bottom: 2px solid var(--main-color);
                color: var(--main-color);
            }
            .slider {
                overflow: hidden;
                height: 120px;
                cursor: -webkit-grab;
                cursor: grab;
                display: grid;
                padding: 10px 0 0px 10px;
                .fav-meal {
                    position: relative;
                    border-radius: 50%;
                    width:100px ;
                    height: 100px;
                    border: 4px solid var(--main-color);
                    :hover img {
                        z-index: 1000;
                    }
                    img {
                        border-radius: 50%;
                        object-fit: cover;
                        width: 100%;
                        height: 100%;
                    }
                    i {
                        cursor: pointer;
                        position: absolute;
                        top: 10px;
                        left: 5px;
                        color: red;
                    }
                }
            }
        }
    }
}

.container .main-container .upper-part {
    display: flex;
    align-items: center;
    @include media('<=tablet'){
        flex-direction: column;
    }
    .category-container {
        // background: linear-gradient(90deg, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
        min-width: 300px;
        width: 50%;
        min-width: 270px;
        border: 2px solid var(--main-color);
        height: 170px;
        border-radius: 30px;
        margin: 20px 0px 20px 20px;
        h3 {
            margin: 0;
                width: fit-content;
                padding: 15px 0 5px 0px;
                margin-left: 20px;
                border-bottom: 2px solid var(--main-color);
                color: var(--main-color);
        }
    }
}

.container .main-container .meals-container {
    border: 2px solid var(--main-color);
    display: grid;
    width : calc(100% - 40px);
    height: calc(100% - 210px - 52.55px );
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
    border-radius: 20px;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    .active-meal {
        .container-meal {
            height: 100%;
            width: 100%;
            display: flex;
            top: 0px;
            left: 0px;
            z-index: 2;
            justify-content: center;
            align-items: center;
            position: fixed;
            background-color: rgba(255, 255, 255, 0.7);
            .meal-content {
                width: 50%;
                height: 100%;
                display: flex;
                justify-content: center;
                background-color: var(--white-color);
                position: relative;
                .fa-circle-xmark{
                    position: absolute;
                    cursor: pointer;
                    top: 10px;
                    left: 10px;
                    color: rgb(255, 94, 0);
                    :hover {
                        transform: scale(1.8);
                        transition: 0.5s;
                    }
                }
                .fa-star{
                    position: absolute;
                    cursor: pointer;
                    top: 10px;
                    right: 10px;
                    color: var(--main-color);
                }
                img {
                    width: 200px;
                    height: 200px;
                    object-fit: cover;
                }
            }
        }
    }
    .meal {
        position: relative;
        overflow: hidden;
        margin-bottom: 15px;
        border: 4px solid var(--main-color);
        border-radius: 60px;
        width: 230px;
        height: 140px;
        img {
        cursor: pointer;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .fa-heart{  
            position: absolute;
            color: var(--main-color);
            transition: 0.5s;
            top: 5px;
            left: 160px;
            z-index: 1;
            cursor: pointer;
        }
        .favorite .fa-heart {
            color: var(--main-color);
        }
        .time {
            display: flex;
            justify-content: space-around;
            cursor: initial;
            align-items: center;
            width: 100px;
            height: 25px;
            position: absolute;
            top: 100px;
            left: 100px;
            z-index: 1;
            border-radius: 20px;
            color: var(--main-color);
            background-color: #332f2f83;
        }
    }
}
.life-saver {
    h2 {
        margin: 0 0 0 0 ;
                width: fit-content;
                padding: 15px 0 5px 0px;
                margin-left: 20px;
                color: var(--main-color);
    }
}